<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<footer>
    <i class="fas fa-copyright"></i> &nbsp
    <p>Coding Ninjas. All Rights Reserved</p>
    <ul>
        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/users/profile"> Profile </a>
        </li>
    </ul>
</footer>