footer{
    background-color:blue;
    height:3rem;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    padding-left:1rem;
    i{
        color:white;
    }
    p{
        color:white;
        font-weight:bold;
    }
    ul{
        display:flex;
        list-style:none;
        flex-direction:column;
        font-size:1.2rem;
        font-weight:bold;
        li{

           a{
               color:white;
               text-decoration:none;
           }
        }
    }
}