header {
  background-color: blue;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h2 {
    margin-left: 1rem; }
  header ul {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold; }
    header ul li {
      display: inline-block;
      margin-right: 1rem; }
      header ul li a {
        color: white;
        text-decoration: none; }
